
<table class="ui celled padded table">
	<thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Description</th>
      <th>Body</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.description %></td>
        <td><%= bookmark.body %></td>
        <td>
          Tags: <%= raw bookmark.tag_list.map { |t| link_to t, tags_path(t) }.join(', ') %>
        </td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="tag_cloud">
Other tags:
  <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tags_path(tag.name), class: css_class %>
  <% end %>
</div>

